language: cpp

jobs:
  include:
    - os: linux
      dist: bionic
      addons:
        apt:
          sources: ubuntu-toolchain-r-test
          packages: g++-8

install:
sudo apt-get install python3-pip;
sudo pip install --upgrade pip;
sudo pip install setuptools cpplint; fi

script:
- mkdir build
- cd build
- cmake ..
- cmake --build . --config -j4
- ./linter_example 